body {

    background-image: url(/images/Default_Classic_centered_background_image_with_a_soft_leatherl_3.jpg);
    background-size: cover;
    background-position: center;

    background-color: #f2f2f2; /* Ajusta el color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* ---------------- Página login.html ---------------- */
.container {
    text-align: center;
}

.loader {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    color: #ff9800; /* Ajusta el color del spinner */
}

p {
    font-family: 'Montserrat', sans-serif; /* Ajusta la tipografía */
    margin: 0;
}


/* ---------------- Página login.html ---------------- */
.login-container {
    max-width: 340px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 7px 13px 37px #000;
    border-top: 4px solid;
    border-radius: 30px;
}



/* ---------------- Página registro.html ---------------- */

.register-container {
    max-width: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 7px 13px 37px #000;
    border-top: 4px solid;
    border-radius: 30px;
}

/* ---------------- Página 1 init.html ---------------- */ 
/* --Pie de página derechos de autor-- */

.futer {
    color: goldenrod;
    font-style: italic;
    opacity: 0.7;
}





/* ---------------- Página 2 initOne.html ---------------- */ 

.headTitle {
    color: goldenrod;
    font-style: italic;
    opacity: 0.7;
}
.restaurantImg1 {
    height: 720px ;
    width: 720px ;
    margin-top: 65%;
    margin-left: 2%;
    transform: rotate(340deg);
    border-radius: 10%;
    background-image: url('/images/transparent.png');
    background-repeat: repeat;
}

.bckground{ 
    background-attachment: fixed;
    padding: -12px;
}

.restaurantImg2 {
    height: 720px ;
    width: 720px ;
    margin-top: 45%;
    margin-right: 2%;
    transform: rotate(35deg);
    border-radius: 20%;
    background-attachment: fixed;
    background: linear-gradient(to right, transparent 0%, #000 100%);


}

.reserveTitle {
margin-bottom: 80px;
width: 100%;
height: 12px;
padding: 0;

padding-bottom: 80px;
color: goldenrod;

opacity: 0.7;

}

.reserveText {
bottom: 0;
padding: 10px;
width: 100%;

    color: rgb(218, 165, 32);
    font-style: italic;
    opacity: 0.7;
}